@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../assets/color-pallete/palette.scss";

h1 {
    font-size: 32px;
    font-weight: bold;
}

.bg-gray {
    background-color: $black-coral;
}

.text-gray {
    color: $black-coral;
}

.border-gray {
    border-color: $black-coral;
}

.bg-blue {
    background-color: $blue-jeans;
}

.text-blue {
    color: $blue-jeans;
}

.border-blue {
    border-color: $blue-jeans;
}

.bg-green {
    background-color: $pistachio;
}

.text-green {
    color: $pistachio;
}

.border-green {
    border-color: $pistachio;
}

.bg-red {
    background-color: $candy-pink;
}

.text-red {
    color: $candy-pink;
}

.border-red {
    border-color: $candy-pink;
}

.bg-black-custom {
    background-color: $raisin-black;
}

.text-black-custom {
    color: $raisin-black;
}

.border-black-custom {
    border-color: $raisin-black;
}

.bg-cyan {
    background-color: $maximum-blue-green;
}

.text-cyan {
    color: $maximum-blue-green;
}

.border-cyan {
    border-color: $maximum-blue-green;
}

.bg-orange {
    background-color: $tan-crayola;
}

.text-orange {
    color: $tan-crayola;
}

.border-orange {
    border-color: $tan-crayola;
}

.btn {
    @apply px-4;
    @apply py-2;
    @apply border-2;
    @apply rounded;
}

.btn-default {
    @apply bg-gray;
    @apply text-white;
    &:hover {
        @apply text-gray;
        @apply bg-white;
        @apply border-gray;
    }
    &:active {
        @apply bg-gray;
        @apply text-white;
    }
}

.btn-default--inverted {
    @apply bg-white; 
    @apply text-gray;
    @apply border-gray;
    &:hover {
        @apply bg-gray;
        @apply text-white;
    }
    &:active {
        @apply bg-white;
        @apply text-gray;
        @apply border-gray;
    }
}

.btn-default--neutral {
    @apply bg-white; 
    @apply text-gray-500;
    @apply border-gray-500;
    &:hover {
        @apply text-gray;
        @apply border-gray;
    }
    &:active {
        @apply bg-gray;
        @apply text-white;
    }
}

.btn-secondary {
    @apply bg-black-custom;
    @apply text-white;
    &:hover {
        @apply text-black-custom;
        @apply bg-white;
        @apply border-black-custom;
    }
    &:active {
        @apply bg-black-custom;
        @apply text-white;
    }
}

.btn-secondary--inverted {
    @apply bg-white;
    @apply text-black-custom;
    @apply border-black-custom;
    &:hover {
        @apply bg-black-custom;
        @apply text-white;
    }
    &:active {
        @apply bg-white;
        @apply text-black-custom;
        @apply border-black-custom;
    }
}

.btn-secondary--neutral {
    @apply bg-white; 
    @apply text-gray-500;
    @apply border-gray-500;
    &:hover {
        @apply text-black-custom;
        @apply border-black-custom;
    }
    &:active {
        @apply bg-black-custom;
        @apply text-white;
    }
}

.btn-primary {
    @apply bg-blue;
    @apply text-white;
    &:hover {
        @apply text-blue;
        @apply bg-white;
        @apply border-blue;
    }
    &:active {
        @apply bg-blue;
        @apply text-white;
    }
}

.btn-primary--inverted {
    @apply bg-white;
    @apply text-blue;
    @apply border-blue;
    &:hover {
        @apply bg-blue;
        @apply text-white;
    }
    &:active {
        @apply bg-white;
        @apply text-blue;
        @apply border-blue;
    }
}

.btn-primary--neutral {
    @apply bg-white; 
    @apply text-gray-500;
    @apply border-gray-500;
    &:hover {
        @apply text-blue;
        @apply border-blue;
    }
    &:active {
        @apply bg-blue;
        @apply text-white;
    }
}

.btn-active {
    @apply bg-green;
    @apply text-white;
    &:hover {
        @apply text-green;
        @apply bg-white;
        @apply border-green;
    }
    &:active {
        @apply bg-green;
        @apply text-white;
    }
}

.btn-active--inverted {
    @apply bg-white;
    @apply text-green;
    @apply border-green;
    &:hover {
        @apply bg-green;
        @apply text-white;
    }
    &:active {
        @apply bg-white;
        @apply text-green;
        @apply border-green;
    }
}

.btn-active--neutral {
    @apply bg-white; 
    @apply text-gray-500;
    @apply border-gray-500;
    &:hover {
        @apply text-green;
        @apply border-green;
    }
    &:active {
        @apply bg-green;
        @apply text-white;
    }
}

.btn-danger {
    @apply bg-red;
    @apply text-white;
    &:hover {
        @apply text-red;
        @apply bg-white;
        @apply border-red;
    }
    &:active {
        @apply bg-red;
        @apply text-white;
    }
}

.btn-danger--inverted {
    @apply bg-white;
    @apply text-red;
    @apply border-red;
    &:hover {
        @apply bg-red;
        @apply text-white;
    }
    &:active {
        @apply bg-white;
        @apply text-red;
        @apply border-red;
    }
}

.btn-danger--neutral {
    @apply bg-white; 
    @apply text-gray-500;
    @apply border-gray-500;
    &:hover {
        @apply text-red;
        @apply border-red;
    }
    &:active {
        @apply bg-red;
        @apply text-white;
    }
}

.btn-info {
    @apply bg-cyan;
    @apply text-white;
    &:hover {
        @apply text-cyan;
        @apply bg-white;
        @apply border-cyan;
    }
    &:active {
        @apply bg-cyan;
        @apply text-white;
    }
}

.btn-info--inverted {
    @apply bg-white;
    @apply text-cyan;
    @apply border-cyan;
    &:hover {
        @apply bg-cyan;
        @apply text-white;
    }
    &:active {
        @apply bg-white;
        @apply text-cyan;
        @apply border-cyan;
    }
}

.btn-info--neutral {
    @apply bg-white; 
    @apply text-gray-500;
    @apply border-gray-500;
    &:hover {
        @apply text-cyan;
        @apply border-cyan;
    }
    &:active {
        @apply bg-cyan;
        @apply text-white;
    }
}

.btn-warn {
    @apply bg-orange;
    @apply text-white;
    &:hover {
        @apply text-orange;
        @apply bg-white;
        @apply border-orange;
    }
    &:active {
        @apply bg-orange;
        @apply text-white;
    }
}

.btn-warn--inverted {
    @apply bg-white;
    @apply text-orange;
    @apply border-orange;
    &:hover {
        @apply bg-orange;
        @apply text-white;
    }
    &:active {
        @apply bg-white;
        @apply text-orange;
        @apply border-orange;
    }
}

.btn-warn--neutral {
    @apply bg-white; 
    @apply text-gray-500;
    @apply border-gray-500;
    &:hover {
        @apply text-orange;
        @apply border-orange;
    }
    &:active {
        @apply bg-orange;
        @apply text-white;
    }
}